:local(.styles) {

  .btn {
    white-space: nowrap;

    .btn-label {
      text-transform: initial;
      display: block;
      white-space: normal;

      &::first-letter {
        text-transform: uppercase;
      }

      strong::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .outline {
    background: $lightGrey;
    border: 1px solid $aqua;
    color: $aqua;
  }

  a:hover {
    text-decoration: none;
  }
}
